{{define "index"}}

{{template "header"}}
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Главная страница</h1>
    <p class="lead">Данный проект представляет из себя сайт, предназначенный для публикации статей на разнообразные темы. 
      Если возникнут какие-то ошибки, то с помощью кнопки внизу сможете связаться с разработчиком.</p>
    
        
    
    
    <p class="lead">
      <a href="/contacts/" class="btn btn-lg btn-secondary">Обратная связь</a>
    </p>
  </main>
{{template "footer"}}
{{end}}